body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    transition: background-color 0.3s;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
